@model IEnumerable<SeriesApp.Models.Series>
@{
    ViewBag.Title = "Index";
    Layout = "";
}

<div id="mycarousel" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        @foreach (var item in Model)
        {
            <li data-target="#mycarousel" data-slide-to=@item.ID></li>
        }
    </ul>
    <div class="carousel-inner">
        @foreach (var item in Model)
        {
            int idActive = Model.Count() > 1 ? 1 : item.ID;
            <div class="carousel-item @(item.ID == idActive ? "active" : string.Empty)">
                <img src="~/@item.Source" alt=@Html.DisplayFor(modelItem => item.Name) class="imgCarousel" />
            </div>
        }
    </div>

    <a class="carousel-control-prev" href="#mycarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#mycarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
