body {
    background: url('../Images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 100px;
    clear: both;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.mw280 { /*see if it's used*/
    max-width: 280px;
}

/*Layout => footer*/
footer {
    width: 100%;
    background: #222;
    padding: 10px 0;
    color: #fff;
    bottom: 0;
    text-align: center;
    color: grey;
}

.card {
    width: 20rem;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    background-color: transparent;
}
.imgSeries {
    width: 100%;
    height: 150px;
}
.imgCarousel {
    width: 100%;
    height: 350px;
}
.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(252, 252, 252, 0.67);
    z-index: 2;
}
@media (max-width: 1024px) {
    .card {
        width: 18rem;
    }
}

@media (max-width: 888px) {
    .card {
        width: 25rem;
    }
}