body {
    background: url('../Images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 100px;
    clear: both;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

/*Layout => footer*/
footer {
    width: 100%;
    background: #222;
    padding: 10px 0;
    color: #fff;
    bottom: 0;
    text-align: center;
    color: grey;
}

.card {
    width: 20rem;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    background-color: transparent;
}

/*.form-control {
    background-color: #eeefeb82;
    border: 1px solid #959c8a;
}

    .form-control:focus {
        color: #495057;
        background-color: #eeefeb82;
        border-color: #959c8a;
        box-shadow: 0 0 0 0.2rem rgba(199, 199, 199, 0.48);
    }*/

/*.btn-primary {
    color: #fff;
    background-color: #9a9a9a;
    border-color: #bdbdbd;
}
.btn-primary:hover {
    color: #fff;
    background-color: #b1b1b1;
    border-color: #dadada;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem #b5b5b5;
}

btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #b8e595;
    border-color: #61d740;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #b8e595;
    border-color: #61d740;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #b8e595;
}*/
.imgSeries {
    width: 100%;
    height: 150px;
}
.imgCarousel {
    width: 100%;
    height: 350px;
}
.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(252, 252, 252, 0.67);
    z-index: 2;
}