@model IEnumerable<TvShows.Models.Series>
@{
    ViewBag.Title = "Index";
    Layout = "";
}

<div id="mycarousel" class="carousel slide" data-ride="carousel">
    @if (Model.Count() > 1)
    {
        <ul class="carousel-indicators">
            @foreach (var serial in Model)
            {
                <li data-target="#mycarousel" data-slide-to=@serial.ID></li>
            }
        </ul>
    }
    <div class="carousel-inner">
        @foreach (var serial in Model)
        {
            int idActive = Model.Count() > 1 ? 1 : serial.ID;
            <div class="carousel-item @(serial.ID == idActive ? "active" : string.Empty)">
                <img src="~/@serial.Source" alt=@Html.DisplayFor(modelItem => serial.Name) class="imgCarousel" />
            </div>
        }
    </div>
    @if (Model.Count() > 1)
    {
        <a class="carousel-control-prev" href="#mycarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#mycarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    }
</div>
