body {
    background: url('../Images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 100px;
    clear: both;
}
/*Header*/
.carousel-image {
    width: 100%;
    height: 600px;
}
.carousel-inner {
    height: 600px;
}

.navbar {
    padding-top: 2%;
    padding-bottom: 2%;
}

/*Home*/
.card {
    width: 20rem;
    margin: 0 auto;
    float: none;
    margin-bottom: 5%;
    background-color: transparent;
}
.card-buttons {
    text-align: center;
    display: grid;
}
.card-element {
    position: relative;
}
.lightslider-image {
    width: 100%;
    height: 400px;
}
.on-top {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.section-title {
    font-size: x-large;
    font-weight: 900;
}
.title-search {
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
}
.flex-center {
    display: flex;
    justify-content: center;
}

/*Edit*/

/*General*/
.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(252, 252, 252, 0.89);
    z-index: 2;
}
.overlay-title {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    text-align: center;
}
.padding-top-5 {
    padding-top: 5%;
}
.full {
    width: 100%;
}

/*Footer*/
footer {
    width: 100%;
    background: #222;
    padding: 10px 0;
    color: #fff;
    bottom: 0;
    text-align: center;
    color: grey;
    position:fixed;
}
.imgSeries {
    display:block;
    width: 100%;
    height: 250px;
}
.card-element:hover .overlay-title {
    opacity: 1;
}
.card-title{
    color:#fff;
}
.card-button {
    border: none;
    background: transparent;
    font-weight: 300;
    color: grey;
}
.overlay-button:hover {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
}
.green-icon {
    color: #2ed7307d;
}
.red-icon {
    color: #ff00008a;
}
.white-icon{
    color:#fff;
}
.lSPager{
    display:none;
}
.btn-primary {
    background-color: #28292be0;
    border-color: #47494ce0;
}
.btn-primary:hover {
    color: #fff;
    background-color: #28292bfa;
    border-color: #47494ce0;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #28292be0;
    border-color: #47494ce0;
    box-shadow:none;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: 0 !important;
    outline-offset: 0 !important;
    background-image: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.form-control:focus {
    border: 1px solid #ced4da;
    box-shadow: none;
}
.bg-dark {
    background-color: #040404d6 !important;
}

.seasonAccordion {
    border-radius: 21px 84px 87px 22px;
    -moz-border-radius: 21px 84px 87px 22px;
    -webkit-border-radius: 21px 84px 87px 22px;
    border: 0px solid #e8e1e8;
    background-color: #80808024;
    padding-left: 1%;
    -webkit-box-shadow: 10px 10px 35px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 35px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 35px -5px rgba(179, 179, 178, 0.65);
}

.btnEpisode {
    padding: 0;
    border: none;
    background: none;
}

.unseen {
    color: grey;
}

.seen {
    color: green;
}

.seasonAccordion {
    color: black;
}

.panel-group a:hover {
    outline: none;
    text-decoration: none;
}
.accordion-elements {
    display: flex;
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.relative{
    position:relative;
}
.pointer-arrow:hover {
    cursor: pointer;
}
@media (min-width: 1200px) {
    .full {
        max-width: 1920px;
        padding: 0;
    }
}

@media (max-width: 1024px) {
}

@media (max-width: 888px) {
}